!!!
%html
  %head
    %base{:href => "/"}
    %title ZIGExN VeNtura Chatting sss
    %meta{'http-equiv' => "Cache-Control", content: "no-cache, no-store, must-revalidate"}
    %meta{'http-equiv' => "Pragma", content: "no-cache"}
    %meta{'http-equiv' => "Expires", content: "0"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/frontend/node_modules/core-js/client/shim.min'
    = javascript_include_tag '/frontend/node_modules/zone.js/dist/zone'
    = javascript_include_tag '/frontend/node_modules/reflect-metadata/Reflect'
    = javascript_include_tag '/frontend/node_modules/systemjs/dist/system.src'
    = javascript_include_tag '/frontend/systemjs.config'

    = csrf_meta_tags
    = favicon_link_tag '/images/favicon.png'

  %body
    = yield

    :javascript
      var currentUser = #{current_user.as_json(methods: [:friends]).to_json} || {}
      var subKeys = #{Settings.sub_keys.to_json} || {}
